*.pyc
*.project
*.pydevproject
*.ini
*.conf
*.csv
*.log
preprocess_data/remote/logs/
preprocess_data/remote/upload/logs/
preprocess_data/remote/upload/dump/
automation/dump
automation/logs
automation/settings.py
automation/tests/
