appdirs==1.4.3
certifi==2018.4.16
chardet==3.0.4
Django==1.6.11
futures==3.2.0
idna==2.6
GDAL==2.2.4
numpy==1.14.3
packaging==17.1
peewee==3.3.4
psycopg2==2.7.4
pyparsing==2.2.0
python-swiftclient==3.5.0
requests==2.18.4
six==1.11.0
urllib3==1.22

